* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: gold;
    color: saddlebrown;
    font-size: 16px;
}

h1 {
    color: saddlebrown;
    font-family: 'Rye', cursive;
    font-size: 4.8rem;
    text-align: center;
}

img {
    width: 50%;
    max-width: 75%;
}

button {
    background-color: sienna;
    color: #fff;
    letter-spacing: 0.25rem;
    margin-top: 2em;
    padding: 1em;
}

button:hover {
    background-color: saddlebrown;
}

.word {
    max-width: 80%;
    margin: 2rem auto;
    text-align: center;
}

.letter0,
.letter1,
.letter2,
.letter3,
.letter4,
.letter5 {
    display: inline-block;
    font-family: 'Rye', cursive;
    font-size: 3.6rem;
    width: 10%;
    max-width: 20%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-bottom: 0.5rem solid #524800;
}

.no-border {
    border-bottom: none;
}

.status {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
}

.playagain {
    display: none;
    text-align: center;
}